:root {
  --peg-color: rgb(31, 176, 224);
  --allowed-cell-color: #c9d1d9;
  --moveable-peg-color: orange;
  --bg-color: white;
  --text-color: black;
}

body {
  font-family: "Roboto Mono";
}

.dark-mode {
  --allowed-cell-color: #353637;
  --bg-color: black;
  --text-color: white;

  background-color: var(--bg-color);
  color: var(--text-color);

  .textContainer {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .button-39 {
    background-color: var(--bg-color);
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(49, 49, 49, 0.05);
  }

  .button-39:hover {
    background-color: rgb(28, 28, 28);
  }
}

.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  min-height: 370px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
  border: 3px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allowedCell {
  width: 30px;
  height: 30px;
  border: 3px solid;
  padding: 10px;
  background-color: var(--allowed-cell-color);
  cursor: pointer;
}

.peg {
  height: 25px;
  width: 25px;
  background-color: var(--peg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pegMovedAnimation {
  0% {
    background-color: var(--moveable-peg-color);
  }
  100% {
    background-color: var(--peg-color);
  }
}

.movedPeg {
  animation-name: pegMovedAnimation;
  animation-duration: 0.5s;
  height: 25px;
  width: 25px;
  background-color: var(--peg-color);
  border-radius: 50%;
  display: inline-block;
}

.moveablePeg {
  height: 25px;
  width: 25px;
  background-color: var(--moveable-peg-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.selectedPeg {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.row:nth-child(n + 1):nth-child(-n + 2) {
  .cell:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }
  .cell:nth-child(n + 6):nth-child(-n + 7) {
    display: none;
  }
}

.row:nth-child(n + 6):nth-child(-n + 7) {
  .cell:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }
  .cell:nth-child(n + 6):nth-child(-n + 7) {
    display: none;
  }
}

.row:nth-child(2n) {
  .cell,
  .allowedCell {
    border-top: none;
    border-bottom: none;
  }
}

.row:nth-child(n) {
  .cell:nth-child(2n),
  .allowedCell:nth-child(2n) {
    border-left: none;
    border-right: none;
  }
}

.textContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  overflow: hidden;
  resize: none;
  text-align: justify;
  border-color: transparent;
  font-size: 16px;
  font-family: "Roboto Mono";
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 1000;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7.5s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
  /* mix-blend-mode: screen; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.themeButton {
  float: right;
  position: relative;
  bottom: 70px;
  zoom: 0.6;
}

.topBar {
  height: 60px;
  padding: 15px;
  position: relative;
}

.buttonContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footerContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*Button CSS */
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Roboto Mono";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

/* Theme Button CSS */
/* https://codepen.io/jasontyler/pen/qEXzOQ */

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 4px;
  border-radius: 40px;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -65px;
    right: -42px;
    width: 15px;
    height: 15px;
    border: 8px solid #d4d4d2;
    border-radius: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(70deg);
    background-color: #fff;
  }
  &::before {
    content: "";
    display: block;
    position: relative;
    top: -25px;
    right: -10px;
    width: 30px;
    height: 30px;
    border: 8px solid #d4d4d2;
    border-radius: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(30deg);
    background-color: #fff;
  }
}

.toggle-switch-figureAlt {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc,
    54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 18px;
    width: 7px;
    height: 7px;
    background-color: #efeeda;
    border-radius: 100%;
    border: 4px solid #dee1c5;
  }
}

.toggle-input:checked {
  ~ .toggle-switch {
    margin-left: 0;
    border-color: #dee1c5;
    background-color: #fffdf2;
  }

  ~ .toggle-bg {
    background-color: #484848;
    border-color: #202020;
  }

  ~ .toggle-switch .toggle-switch-figure {
    margin-left: 40px;
    opacity: 0;
    transform: scale(0.1);
  }

  ~ .toggle-switch .toggle-switch-figureAlt {
    transform: scale(1);
  }
}

/* Confetti CSS Implemented from */
/* https://codepen.io/bonarhyme/pen/ExLZgdE */
.confetti-container {
  user-select: none;
  z-index: 3;
}

.confetti {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
}

.confetti .square {
  width: 1rem;
  height: 1rem;
  background-color: var(--bg);
  transform: rotate(-140deg);
}

.confetti .rectangle {
  width: 1rem;
  height: 0.5rem;
  background-color: var(--bg);
}

.confetti .hexagram {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid var(--bg);
  position: relative;
}

.confetti .hexagram:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 1rem solid var(--bg);
  position: absolute;
  top: 0.33rem;
  left: -0.5rem;
}

.confetti .pentagram {
  width: 0rem;
  height: 0rem;
  display: block;
  margin: 0.5rem 0;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(35deg);
  position: relative;
}
.confetti .pentagram:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 0.8rem solid var(--bg);
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  transform: rotate(-35deg);
  position: absolute;
  top: -0.45rem;
  left: -0.65rem;
}
.confetti .pentagram:after {
  content: "";
  width: 0rem;
  height: 0rem;
  display: block;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(-70deg);
  position: absolute;
  top: 0.03rem;
  left: -1.05rem;
}

.confetti .dodecagram {
  background: var(--bg);
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
}

.confetti .dodecagram:before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(30deg);
  position: absolute;
  top: 0;
  left: 0;
}
.confetti .dodecagram:after {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(60deg);
  position: absolute;
  top: 0;
  left: 0;
}

.confetti .wavy-line {
  position: relative;
}
.confetti .wavy-line::after,
.confetti .wavy-line::before {
  content: "";
  height: 1rem;
  width: 8rem;
  background-size: 2rem 1rem;
  position: absolute;
  left: -9rem;
  transform: rotate(90deg);
}

.confetti .wavy-line::before {
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
  top: 1rem;
}
.confetti .wavy-line::after {
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
}

.confetti i {
  width: 3rem;
  height: 3rem;
  margin: 0 0.2rem;
  animation-name: confetti;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: calc(70s / var(--speed));
}

.confetti i:nth-child(even) {
  transform: rotate(90deg);
}

@keyframes confetti {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}
