.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
  border: 3px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peg {
  height: 25px;
  width: 25px;
  background-color: rgb(99, 187, 216);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pegMovedAnimation {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: rgb(99, 187, 216);
  }
}

.movedPeg {
  animation-name: pegMovedAnimation;
  animation-duration: 0.5s;
  height: 25px;
  width: 25px;
  background-color: rgb(99, 187, 216);
  border-radius: 50%;
  display: inline-block;
}

.whitePeg {
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.row:nth-child(n + 1):nth-child(-n + 2) {
  .cell:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }
  .cell:nth-child(n + 6):nth-child(-n + 7) {
    display: none;
  }
}

.row:nth-child(n + 6):nth-child(-n + 7) {
  .cell:nth-child(n + 1):nth-child(-n + 2) {
    display: none;
  }
  .cell:nth-child(n + 6):nth-child(-n + 7) {
    display: none;
  }
}

.row:nth-child(2n) {
  .cell {
    border-top: none;
    border-bottom: none;
  }
}

.row:nth-child(n) {
  .cell:nth-child(2n) {
    border-left: none;
    border-right: none;
  }
}

.textContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: large;
  overflow: hidden;
  resize: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-top: 50px;
  font-weight: bold;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*Button CSS */
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.dark-mode {
  background-color: black;
  color: white;

  .textContainer {
    background-color: black;
    color: white;
  }

  .button-39 {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(49, 49, 49, 0.05);
  }

  .button-39:hover {
    background-color: rgb(28, 28, 28);
  }
}
